/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 /* add Flexbox for easy positioning and alignment */
 
 /* Nav section layout  and positioning (w Flexbox) */

 #main {
/*  position: fixed;
*/ }

 #main.flex-container {
  height: 12%; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.5%;
  padding-right: 1.5%;

}

.flex-item {
  margin-left: 25px;
}

.flex-item:last-child {
  margin-right: 15px;
}

#nav_logo {
  position: absolute;
  top: 3%; left: 3%;
}

 /* Nav section styling */


#main {
  background-color: #008FB6;
  width: 100%;
}

nav ul li {
  display: inline-block;
}

.nav_link {
  color: #fefefe;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
;
  font-size: 0.8em;
  font-weight: lighter;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}

button {
  border: solid 1px #FF501D;
  border-radius: 2px;
  background-color: #fc693c;
  font-size: 0.75em;
  padding: 0.5em 0.65em 0.5em 0.65em;
}

.dropshadow {
  -moz-box-shadow:    0px 1px 1px 0px #0e0e0e, inset 0px 2px 1px 0px #fefefe;
  -webkit-box-shadow: 0px 1px 1px 0px #0e0e0e, inset 0px 2px 1px 0px #fefefe;
  box-shadow:         0px 1px 1px 0px #0e0e0e, inset 0px 2px 1px 0px #fefefe;
}

/* Hero section styling */




#hero {
  background-color: #9AF0FF;
}

#how-it-works {
  background-color: #008FB6;
}

#features {
  background-color: #E8FFFF;
}

#testimonials {
  background-color: #9AF0FF;
}

#C2A {
  background-color: #008FB6;
}

footer {
  background-color: #165D6C;
}



/* classes for disappearing things */

.invisible {
  visibility:hidden;
}

.hidden {
  display:none;
}


/* classes for animating */

.animation {
  -webkit-animation: animation 3s; 
  -moz-animation:    animation 3s; 
  -o-animation:      animation 3s; 
  animation:         animation 3s;
}


@-webkit-keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


 /*for troubleshooting layout 
*/
.border {
	border:solid 1px red;
}
